# Buildy a závislosti
node_modules
.next
out
build
dist

# Git a dokumentace
.git
.gitignore
.dockerignore
README.md
LICENSE

# Debug logy
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lokální databáze a nahrané soubory
database.sqlite
uploads/

# Tajnosti
# .env (odkomentováno, aby byl k dispozici NEXT_PUBLIC_GOOGLE_CLIENT_ID při buildu)
.env.local
.env.production.local